body{
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-repeat: no-repeat;
    background-image: url(young-traveler.jpg);
    background-attachment: fixed;
    background-position: right top;
    background-size: 70%;
    background-color: black;
    width:90%;
    margin: 0 auto;
    min-width:600px;
    max-width:2000px
    
}


main{
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

li{
    list-style: none;
    display: inline;
}

footer{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    display: flex;
  
}

#izq{
    background-color: grey;
    color: black;
    width: 33.3%;
}

#centro{
    background-color: white;
    color: black;
    width: 33.3%;
}

#der{
    background-color: orangered;
    color: black;
    width: 33.3%;
}