body{
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-repeat: no-repeat;
    background-image: url(young-traveler.jpg);
    background-attachment: fixed;
    background-position: right top;
    background-size: 75%;
    background-color: black;
    height: 1000px;
}


main{
    color: white;
    
    
    
}

.contenidoPrincipal{
    padding-left: 150px;
    padding-top: 140px;
    padding-right: 1210px;
}

#h1{
    font-size: 70px;

}


.botonBook{
    background-color: orangered;
    height: 60px;
    width: 250px;
    color: white;
    font-size: 20px;
}

.menu{
    padding-left: 113px;
    margin-top: 2cm;
}

li{
    list-style: none;
    display: inline;
}

li a{
    color: white;
    margin-right: 2cm;
    font-size: 20px;
    text-decoration: none;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#izq{
    background-color: grey;
    color: black;
    
    padding-top: 2cm;
    text-align: center;
}

#centro{
    background-color: white;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top : 20px;
    padding-bottom: 20px;
}

#der{
    background-color: orangered;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top : 20px;
    padding-bottom: 20px;
}